<div class="text-center">
<h1> Here is your reservation informations</h1>
<p> Here is your message : <%=@booking.message%></p>
<p> Your reservation duration is <%=@hours%> heure(s)</p>
<p> Your price will be : <%=@total_price%></p>




</div>

