/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

.btn-marged{
  marging-top: 300px;
}

.sm-padded{
  padding-top: 5px;
}
.padded-home {
  padding-top: 8em;
  padding-bottom: 8em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.marge{
padding-top: 175px;
padding-bottom: 125px;
}

.marg{
margin-top: 30px;
}

.padded-bottom{
  margin-bottom:110px;
}

.padded{
  padding-bottom:50px;
}

.paddingduh1{
  padding-left: 170px;
}
.paddingtop{
  padding-top: 18px;
}
.paddmore{
  padding-right: 433px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 170px;
}
.paddbtn{
  padding-bottom: 42px;
  padding-top: 20px;
}
.h2{
  color: #E45171;
}
.img-show{
  margin-left: -22px;
}
.container-index{
  padding: 10px;
}

.padded-booking{
  padding-top:100px;
}

.rose{
  color: #E45171;
}

.btn-radius{
  border-radius: 200px;
}

